.alert {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 4%;
    width: 80%;
    background-color: #C7FFA6;
    color: #217A00;
    border: 1px solid #C7FFA6;
    border-radius: 35px;
    font-size: 1.8vh;
    transition: visibility 2s;
}